body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.header, .main, .aside, .footer {
    padding: 2rem;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
    box-shadow: 0 0 3px 1px grey;
    text-transform: uppercase;
}

.header, .footer {
    flex-basis: 100%;
}

.header {
    height: 50px;    
}

.main, .aside {
    height: 150px;    
}

.footer {
    height: 40px;
}

.main {
    flex: 2 1 40rem; 
} 

.aside {
    flex: 2 1 20rem; 
} 
