body {
    background-color: rgb(238, 238, 238);
    padding: 50px 200px;
}

h2 {
    font-weight: 500;
}

.cards-layout.masonry {
    display: flex;
    width: 60vw;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 200vh;
    gap: 20px;
}

.cards-layout.flex {
    display: flex;
    gap: 20px;
    width: 60vw;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 210vh;
}

.cards-layout.flex div.card {
    height: 60vh;
}

div.card {
    display: flex;
    flex-wrap: wrap;
    width: 18vw;

    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
}

div.card section {
    box-sizing: border-box;
    padding: 20px;
    border-bottom: 1px solid gray;
    width: 100%;
}

img {
    width: 100%;
}

h3 {
    margin: 0px;
    font-weight: 400;
}

p {
    margin: 0px;
}

footer {
    padding: 10px 20px;
}